<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jmodelica.ide.category"
            name="Modelica">
      </category>
      <wizard
            category="org.jmodelica.ide.category"
            class="org.jmodelica.ide.outline.ui.NewFileWizard"
            icon="resources/icons/outline/modelica_file.png"
            id="org.jmodelica.ide.wizard.file"
            name="Modelica File"
            project="false">
         <description>
            Creates a new Modelica File
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jmodelica.ide.category"
            class="org.jmodelica.ide.outline.ui.NewProjectWizard"
            icon="resources/icons/modelica_project_new.png"
            id="org.jmodelica.ide.wizard.project"
            name="Modelica Project"
            project="true">
         <description>
            Creates a new Modelica Project
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jmodelica.ide.outline.preferences.ModelicaPreferencePage"
            id="org.jmodelica.ide.preference.modelica"
            name="Modelica">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jmodelica.ide.outline.ExplorerContentProvider"
            icon="resources/icons/modelica_perspective.png"
            id="org.jmodelica.ide.navigator.content"
            labelProvider="org.jmodelica.ide.outline.ExplorerLabelProvider"
            name="Modelica Elements"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.jmodelica.ide.nature">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.debug.ui.matchesPattern"
                        value="*.mo">
                  </test>
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.jmodelica.ide.sync.CachedASTNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="org.jmodelica.ide.outline.OutlineItemComparator"
               id="org.jmodelica.ide.navigator.sorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.jmodelica.ide.sync.CachedASTNode">
                  </instanceof>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.mo">
                     </test>
                  </and>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.jmodelica.ide.nature">
                     </test>
                  </and>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider
               class="org.jmodelica.ide.outline.ExplorerActionProvider">
         </actionProvider>
         <commonWizard
               menuGroupId="org.jmodelica.ide.wizard"
               type="new"
               wizardId="org.jmodelica.ide.wizard.file">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="org.jmodelica.ide.wizard"
               type="new"
               wizardId="org.jmodelica.ide.wizard.project">
            <enablement></enablement>
         </commonWizard>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.jmodelica.ide.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jmodelica.ide.view.category"
            name="Modelica">
      </category>
      <view
            category="org.jmodelica.ide.view.category"
            class="org.jmodelica.ide.outline.InstanceOutlineView"
            icon="resources/icons/modelica_perspective.png"
            id="org.jmodelica.ide.view.outline.instance"
            name="Instance Outline">
         <description>
            Shows an outline of the instance trees for all classes in the current file.
         </description>
      </view>
      <view
            category="org.jmodelica.ide.view.category"
            class="org.jmodelica.ide.outline.SourceOutlineView"
            icon="resources/icons/modelica_perspective.png"
            id="org.jmodelica.ide.view.outline.source"
            name="Source Outline">
         <description>
            Shows an outline of the instance trees for all classes in the current file.
         </description>
      </view>
      <view
            category="org.jmodelica.ide.view.category"
            class="org.jmodelica.ide.outline.ClassOutlineView"
            icon="resources/icons/class_outline.gif"
            id="org.jmodelica.ide.view.outline.class"
            name="Package Explorer">
         <description>
            Shows an outline of the class hierarchy in the current project.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.jmodelica.ide.customNewMenu?after=additions">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="resources/icons/outline/modelica_file.png"
               label="Modelica File"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.jmodelica.ide.wizard.file">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="resources/icons/modelica_project_new.png"
               label="Modelica Project"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.jmodelica.ide.wizard.project">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.jmodelica.ide.property"
         name="Modelica Properties"
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.jmodelica.ide.outline.preferences.ProjectPropertyPage"
            id="org.jmodelica.ide.property.modelica"
            name="Modelica">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="nature"
               value="org.jmodelica.ide.nature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jmodelica.ide.outline.ui.ModelicaPerspective"
            icon="resources/icons/modelica_perspective.png"
            id="org.jmodelica.ide.perspective"
            name="Modelica">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jmodelica.ide.perspective">
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer"></showInPart>
         <showInPart
               id="org.jmodelica.ide.view.outline.class">
         </showInPart>
      </perspectiveExtension>
   </extension>
</plugin>
