<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jmodelica.ide.graphical.Editor"
            contributorClass="org.jmodelica.ide.graphical.EditorActionBarContributor"
            default="false"
            id="org.jmodelica.ide.graphical.editor"
            name="Modelica Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.jmodelica.ide.graphical.ExplorerActionProvider"
            id="org.jmodelica.ide.graphical.ExplorerActionProvider"
            priority="highest">
         <enablement>
            <instanceof
                  value="org.jmodelica.ide.helpers.CachedASTNode">
            </instanceof></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.jmodelica.ide.graphical.ExplorerActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.jmodelica.ide.graphical.GraphicalEditorInputFactory"
            id="org.jmodelica.ide.graphical.GraphicalEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jmodelica.ide.perspective">
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
