<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jmodelica.ide.textual.editor.Editor"
            contributorClass="org.jmodelica.ide.textual.editor.EditorContributor"
            default="true"
            extensions="mo"
            icon="resources/icons/outline/modelica_file.png"
            id="org.jmodelica.ide.editor"
            name="Modelica Editor">
         <contentTypeBinding
               contentTypeId="org.jmodelica.ide.content.modelica">
         </contentTypeBinding>
      </editor>
      <editor
            default="false"
            extensions="fmu"
            id="org.jmodelica.ide.editor.redirect"
            launcher="org.jmodelica.ide.ui.RedirectLauncher"
            name="Redirect to System Editor (if any)">
         <contentTypeBinding
               contentTypeId="org.jmodelica.ide.content.fmu">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Format the Modelica code the selected region"
            id="JModelicaIDE.ModelicaFormatRegionCommand"
            name="Format region">
      </command>
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Toggle comment on the selected region."
            id="JModelicaIDE.ModelicaToggleCommentCommand"
            name="Toggle comment on region">
      </command>
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Toggle annotations on document"
            id="JModelicaIDE.ModelicaToggleAnnotationCommand"
            name="Toggle annotations on region">
      </command>
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Perform error check"
            id="JModelicaIDE.ErrorCheckCommand"
            name="Error check">
      </command>
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Go to declaration"
            id="JModelicaIDE.GoToDeclarationCommand"
            name="Go to declaration">
      </command>
      <category
            description="JModelica commands"
            id="JModelicaIDE.ModelicaCommandCategory"
            name="JModelica">
      </category>
      <keyBinding
            commandId="JModelicaIDE.ModelicaFormatRegionCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Shift+Ctrl+F">
      </keyBinding>
      <keyBinding
            commandId="JModelicaIDE.ModelicaToggleCommentCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Shift+Ctrl+C">
      </keyBinding>
      <keyBinding
            commandId="JModelicaIDE.ModelicaToggleAnnotationCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+T">
      </keyBinding>
      <keyBinding
            commandId="JModelicaIDE.ErrorCheckCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+Alt+E">
      </keyBinding>
      <keyBinding
            commandId="JModelicaIDE.GoToDeclarationCommand"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="F3">
      </keyBinding>
      <command
            categoryId="JModelicaIDE.ModelicaCommandCategory"
            description="Compile selected class to an FMU"
            id="org.jmodelica.ide.command.compile.fmu"
            name="Compile to FMU">
      </command>
      <command
            defaultHandler="org.jmodelica.ide.commands.ClassOrderHandler"
            id="org.jmodelica.ide.commands.sort.order"
            name="Sort Alphabetically">
      </command>
   </extension>
</plugin>
